<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <form method="post" action="/forget_password">
        {% csrf_token %}
        <center>
            <div style="margin-top: 10px;" class="col-md-6">
                <center>
                    <input style="width: 450px;" class="form-control" type="text" name="forget_password_email" placeholder="Enter Your Forgotten account email">
                    <button style="margin-top: 10px;" class="btn btn-success" type="submit">Login without Password</button>
                </center>
            </div>
        </center>
    </form>
</body>

</html>